*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.us{
  padding-top: 30px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 60px;
}

.welcome,
.discover{
  text-align: center;
  opacity: 0.8;
}

.container1{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding-top: 30px;
  text-align: justify;
}
.pastor{
  height: 100%;
  width: 100%;
}

.cardss{
  width: 100%;
  padding-top: 30px;
  padding-right: 60px;
  padding-left: 60px;
  padding-bottom: 30px;
  background-color: rgba(0, 128, 0, 0.028);
}
.top{
  height: 50%;
}
.cardy{
  padding-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  width: 100%;
}

.card{
  height: 350px;
  width: 100%;
  box-shadow: 0px 10px 10px  #b9b9b9;
  transition: 0.5s ease-in-out;
}
.card:hover{
  cursor: pointer;
  transform: translateY(40px);
}

.card-title{
  text-align: center;
}

p{
  color: #4a4848;
}
h1,h2,h3,h4,h5,h6{
  color: #201e1e;
}

.card-link{
  color: blue;
}

.upcoming{
  padding-bottom: 30px;
  padding-top: 30px;
  background-color: rgba(255, 217, 0, 0.028);
}
.event,
.nugg{
  text-align: center;
  opacity: 0.8;
}
.event-div{
  padding-top: 30px;
  height: 400px;
  width: 400px;
  margin: 0 auto;
}
.event-pic{
  height: 100%;
  width: 100%;
  object-position: center;
  -o-object-position: center;
  object-fit: cover;
}

.form-lenght{
  width: 90%;
  margin: auto;
  /* margin-bottom: 80px; */
  padding-top: 30px;
  /* padding-bottom: 30px; */
}
.name-grid, .number-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.form{
  padding-top: 30px;
}
.submit{
  height: 40px;
  width: 100%;
  color: #fff;
  /* font-size: 18px; */
  text-align: center;
  text-transform: ;
  background-color: #201e1e;
  border: 1px solid #201e1e;
  border-radius: 20px;
}

input{
  width: 100%;
  height: 40px;
  border:1px solid #b9b9b9;
  border-radius: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  margin-top: 3px;
}
.fff{
  color: #121212;
  text-transform: capitalize;
  margin-bottom: 3px;
  /* font-size: 18px; */
  opacity: 0.8;
}
#text{
  margin-top: 8px;
  width: 100%;
  border:1px solid  #b9b9b9;
  border-radius: 10px;
  padding-left: 10px;
  margin-bottom: 30px;
}
.btn-divv{
  margin: auto;
  width: 100%;
  height: 40px;
}

.service{
  width: 100%;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 30px;
  box-shadow: 0px 10px 10px  #b9b9b9;
}
.weekly{
  text-align: center;
  opacity: 0.8;
}
.service-cont{
  padding-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.inner-service{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 10px;
}

.sabbath-word,
.wed-word{
  text-align: center;
}
.time{
  display: flex;
  justify-content: space-between;
  padding: 8px;
}
.sabbath,
.wednesday{
  box-shadow: 5px 5px 10px #4a4848;
  padding-top: 8px;
}

.service-right{
  width: 100%;
  height: 100%;
}

.service-right > img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

/* .carousel-div{
  height: 300px;
} */

@media only screen and (max-width:499px){
  .container1{
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 20px;
    gap: 10px;
  }
  .form{
    padding-top: 20px;
  }
  .us{
    padding: 20px;
    padding-bottom: 0px;
  }
  .cardss{
    padding: 20px;
  }
  .cardy{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    padding-top: 20px;
  }
  .upcoming{
    padding: 20px;
  }
  .event{
    text-align: center;
    opacity: 0.8;
  }
  .event-div{
    padding-top: 20px;
    height: 400px;
    width: 100%;
    /* margin: 0 auto; */
  }
  .event-div >img{
    height: 100%;
    width: 100%;
  }
  .form-lenght{
    width: 100%;
    margin: 0px;
    padding: 20px;
  }
  .number-grid, .name-grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }
  input{
    margin-bottom: 10px;
    margin-top: 4px;
  }
  .btn-cont{
    margin-top: 10px;
  }
  .service-cont{
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 20px;
  }
  .service{
    padding: 20px;
  }
  .time{
    display: block;
  }
  .card{
    transition: none;
  }
  .card:hover{
    transform: none;
  }
}
